body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    /* background-color:white; */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.product h3 {
    margin-top: 0;
    color: #007bff;
}

.product p {
    color: black;
}

.product button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}


.product button:hover {
    background-color: #8cc2fa;
    animation: colAnimation 3s ease-in 0s infinite normal;
    background-color: palevioletred;
}

#cart {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    color: black;
    
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item button {
    background-color: #ff000061;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-items: end;
   
}

.cart-item button:hover {
    background-color: #ff1a1a;
}

#total {
    font-weight: bold;
    font-size: 18px;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
